<div style="margin: 2% 15%">
  <h1
    style="
      text-align: center;
      background-color: chartreuse;
      position: relative;
      z-index: 2;
    "
  >
    To do list
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="createButton">
          <input
            #description
            type="text"
            class="form-control"
            placeholder="Description"
            aria-label="Description"
            aria-describedby="basic-addon1"
          />
        </nz-input-group>
        <ng-template #createButton>
          <button
            type="button"
            class="btn btn-success"
            (click)="onCreate(description.value)"
          >
            <i class="bi bi-plus-square-fill"></i>
            Create
          </button>
        </ng-template>
      </div>
      <div class="col-sm-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="searchButton">
          <input
            #search
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon1"
            (keyup)="onKey($event)"
          />
        </nz-input-group>
        <ng-template #searchButton>
          <button
            type="button"
            class="btn btn-info"
            style="color: white"
            (click)="searchTodoItem(search.value)"
          >
            <i class="bi bi-plus-square-fill"></i>
            Search
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <br />
  <br />
  <nz-table
    #basicTable
    [nzData]="todoListSource"
    [nzFrontPagination]="true"
    [nzLoading]="loading"
    [nzTotal]="1"
    [nzPageSize]="5"
    [nzPageIndex]="1"
  >
    <!-- Table Header -->
    <thead style="position: relative; z-index: 1">
      <tr>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- Table content -->
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <ng-container *ngIf="!editCache[data.Id].edit; else editTemplate">
          <td>{{ data.Description }}</td>
          <td>
            <ng-template [ngTemplateOutlet]="buttonIsComplete"></ng-template>
          </td>
          <!--  Actions -->
          <td>
            <a (click)="startEdit(data.Id)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="onDelete(data.Id)">Delete</a>
          </td>
        </ng-container>

        <ng-template #editTemplate>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.Id].data.Description"
            />
          </td>
          <td>
            <ng-template [ngTemplateOutlet]="buttonIsComplete"></ng-template>
          </td>
          <!--  Actions -->
          <td>
            <a (click)="saveEdit(data.Id)" class="save">Save</a>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Sure to cancel?"
              (nzOnConfirm)="cancelEdit(data.Id)"
              >Cancel</a
            >
          </td>
        </ng-template>

        <!-- Button IsCompleted Template -->
        <ng-template #buttonIsComplete>
          <button
            nz-button
            (click)="modifyCompleteStatus(editCache[data.Id].data.Id)"
            [className]="
              editCache[data.Id].data.IsComplete ? classDone : classTodo
            "
          >
            {{ editCache[data.Id].data.IsComplete ? "Done" : "To do" }}
          </button>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</div>
<br />
<br />

<!-- Toast template and component -->
<ng-template #deletedSuccessTpl>
  <i class="bi bi-x-circle"></i> Item Deleted
</ng-template>
<ng-template #modifySuccessTpl>
  <i class="bi bi-x-circle"></i> Item Save Success
</ng-template>
<ng-template #createdSuccessTpl
  ><i class="bi bi-check-circle"></i> Create Item Success
</ng-template>

<app-toasts></app-toasts>
