<div style="margin: 2% 15%">
  <h1
    style="
      text-align: center;
      background-color: chartreuse;
      position: relative;
      z-index: 2;
    "
  >
    To do list
  </h1>
  <div class="input-group mb-3">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input
        #description
        type="text"
        class="form-control"
        placeholder="Description"
        aria-label="Description"
        aria-describedby="basic-addon1"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        type="button"
        class="btn btn-success"
        (click)="onCreate(description.value)"
      >
        <i class="bi bi-plus-square-fill"></i>
        Create
      </button>
    </ng-template>
  </div>
  <br />
  <br />
  <nz-table #basicTable [nzData]="todoListSource" nzTableLayout="fixed">
    <!-- Table Header -->
    <thead style="position: relative; z-index: 1">
      <tr>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- Table content -->
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <ng-container *ngIf="!editCache[data.Id].edit; else editTemplate">
          <td>{{ data.Description }}</td>
          <td>
            <button
              nz-button
              (click)="modifyCompleteStatus(editCache[data.Id].data.Id)"
              [className]="
                editCache[data.Id].data.IsComplete ? classDone : classTodo
              "
            >
              {{ editCache[data.Id].data.IsComplete ? "Done" : "To do" }}
            </button>
          </td>
          <!--  Actions -->
          <td>
            <a (click)="startEdit(data.Id)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="onDelete(data.Id)">Delete</a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.Id].data.Description"
            />
          </td>
          <td>
            <button
              nz-button
              (click)="
                editCache[data.Id].data.IsComplete =
                  !editCache[data.Id].data.IsComplete
              "
              [className]="
                editCache[data.Id].data.IsComplete ? classDone : classTodo
              "
            >
              {{ editCache[data.Id].data.IsComplete ? "Done" : "To do" }}
            </button>
          </td>
          <!--  Actions -->
          <td>
            <a (click)="saveEdit(data.Id)" class="save">Save</a>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Sure to cancel?"
              (nzOnConfirm)="cancelEdit(data.Id)"
              >Cancel</a
            >
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</div>
<button
  nz-button
  (click)="createBasicNotification('topRight')"
  nzType="primary"
>
  <span nz-icon nzType="radius-upright"></span>
  topRight
</button>
